<h1>Register</h1>
<form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
        <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required />
        <div *ngIf="f.submitted && !confirmPassword.valid" class="help-block">Confirm Password is required</div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <i *ngIf="loading" class="glyphicon glyphicon-refresh glyphicon-spin"></i>
            Register
        </button>
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
</form>